@import '@Common/_buttons.scss';
@import '@Common/_animations.scss';
@import '@Common/_typography.scss';
/* +++++++++++ STYLING FOR HEADER +++++++++++++++ */
.header {
  height: 95vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(https://res.cloudinary.com/dnl5kwhe6/image/upload/v1567563424/Quick_Credit/home-bgd-3-sm_lr9g9s.jpg) no-repeat center top;
  background-size: cover;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
@media only screen and (max-width: 600px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}

@media only screen and (max-width: 600px) {
  .header .nav-bar .nav-items .nav-link:first-child {
    margin-left: 0;
    margin-right: 2rem;
  }
}


.header .nav-bar .nav-items .nav-link__login:hover {
  color: var(--color-primary);
}
.header .nav-bar .nav-items .nav-link__register:hover {
  background-color: var(--color-primary);
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
