@import '@Common/_base.scss';
@import '@Common/_animations.scss';
@import '@Common/_typography.scss';
/* ++++++STYLING FOR SECTION SIGN-UP */
.section-sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-previous-page {
  margin: 2rem;
  width: auto;
}
.icon-previous-page .fas {
  color: #fff;
  margin: 2rem;
}
@media only screen and (max-width: 650px) {
  .icon-previous-page .fa-arrow-left {
    color: var(--color-primary);
    margin: 2rem;
  }
}
.section-sign-up .form-container {
  background-color: #fff;
  padding: 2.5rem 5rem;
  border-radius: 5px;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  height: auto;
  margin-bottom: 2rem;
}
.section-sign-up .form-container .heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.2s;
  letter-spacing: 2px;
  transition: all 0.2s;
  color: var(--color-primary);
  margin-bottom: 2rem;
}
.section-sign-up .form-container #sign-up-form label {
  font-size: 1.8rem;
  font-weight: 500;
}
.section-sign-up .form-container .form-group {
  margin-bottom: 2rem;
}

.section-sign-up .form-container .form-group .input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.section-sign-up .form-container .form-group .input-group .form-control {
  width: 100%;
  padding: 1.2rem 2rem;
  margin: 1rem 0;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: all 0.2s;
  font-size: 1.5rem;
}
.section-sign-up .form-container .form-group .input-group .form-control-select {
  color: var(--color-grey-dark);
}

/* ++++STYLING FOR BUTTON */
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.2);
}

.btn:focus,
.btn:active {
  outline: none;
  transform: translateY(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(34, 34, 34, 0.2);
}
.btn--block {
  display: block;
  width: 100%;
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 4px;
  font-weight: 400;
  margin-top: 3rem;
}

/* ++++ STYLING FOR POPUP SECTION */
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 4rem;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
}
@media only screen and (max-width: 700px) {
  .popup__content {
    width: 70%;
  }
}
.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__content h3 {
  color: #fff;
  text-transform: uppercase;
  display: none;
}
.popup__content .loader {
  width: 75px;
  height: 75px;
  margin: 0;
  background: transparent;
  border-top: 4px solid var(--color-primary-light);
  border-right: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  -moz-animation: 1s spin linear infinite;
  -o-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
