/* variables */
:root {
  --color-primary: #b23242;
  --color-primary-light: #ff6175;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
}
/* BASE STYLING */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem = 10px; 10px/16px = 62.5% */
  font-size: 62.5%;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

body {

  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #777;
  line-height: 1.7;
}
@media only screen and (max-width: 900px) {
  body {
    padding: 0;
  }
}
.container{
  padding: 3rem;
}