.footer {
  background-color: #333;
  padding: 8rem;
}

.footer .nav {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer .nav__link:link,
.footer .nav__link:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}

.footer .nav__link:hover,
.footer .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
}
.footer .copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
}
