.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.2);
}

.btn:focus,
.btn:active {
  outline: none;
  transform: translateY(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(34, 34, 34, 0.2);
}

.btn--white {
  background-color: #fff;
  color: var(--color-primary);
  border-radius: 10rem;
}
.btn--white::after {
  background-color: #fff;
}

.btn--white:hover::after {
  transform: scaleX(1.2) scaleY(1.5);
  opacity: 0;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.btn--primary::after {
  background-color: #fff;
}

.btn--primary:hover::after {
  transform: scaleX(1.2) scaleY(1.5);
  opacity: 0;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--block {
  display: block;
  width: 100%;
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 4px;
  font-weight: 400;
}
.btn-text:link,
.btn-text:visited {
  color: var(--color-primary);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  padding: 3px;
  font-size: 1.6rem;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.btn--animated {
  animation: moveInBottomUp 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
